* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #f42702;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    position: absolute;
    background: #b82500;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

h1 {
    text-align: center;
    color: #b82500;
    box-shadow: 0 10px 40px rgba(125, 21, 0, 0.7);
    border: solid 1px #b82500;
    padding: 5px;
    margin-bottom: 5%;
}

form {
    text-align: center;
    /*border: solid 3px #761800 ;*/
    padding: 5% 0;
    margin: 5px;
}

label {
    padding-right: 15px;
    color: #b82500;
    font-size: large;
    /* display: flex;
    justify-content: space-around;*/
}

input {
    margin: 1% 2%;
    padding: 10px 30px;
    border: solid 2px rgb(103, 17, 0);
    /* box-shadow: 0 10px 20px rgba(125, 21, 0, 0.5);*/
}

h3 {
    color: #761800;
    margin-bottom: 1%;
    margin-top: 1%;
}

div {
    box-shadow: 0 10px 20px rgba(125, 21, 0, 0.5);
    background-color: #ffead5;
}

button {
    width: 200px;
    padding: 15px 60px;
    /*text-align: center;
    margin: 20px 10px;*/
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #b82500;
    background: transparent;
    color: #461400;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    /* text-decoration: none;*/
}

span {
    background: #b82500;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}
